/*Labyrinth Lord post data css*/

#characterName{
    position:absolute;
    top: 78px;
    left: 40px;
	font-size: 0.8em;
}

#race{
    position:absolute;
    top: 78px;
    left: 230px;
	font-size: 0.8em;
}



#alignment{
    position:absolute;
    top: 78px;
    left: 520px;
	font-size: 0.8em;
}

#playerName{
    position:absolute;
    top: 135px;
    left: 410px;
	font-size: 0.8em;
}


#armourName{
    position:absolute;
    top: 775px;
    left: 620px;
	font-size: 0.8em;
}

#armourAc{
    position:absolute;
    top: 775px;
    left: 850px;
	font-size: 0.8em;
}


#armourWeight{
    position:absolute;
    top: 775px;
    left: 895px;
	font-size: 0.8em;
}

#shieldName{
    position:absolute;
    top: 795px;
    left: 620px;
	font-size: 0.8em;
}

#shieldAc{
    position:absolute;
    top: 795px;
    left: 850px;
	font-size: 0.8em;
}


#shieldWeight{
    position:absolute;
    top: 795px;
    left: 895px;
	font-size: 0.8em;
}


#weaponsList{
    position:absolute;
    top: 910px;
    left: 620px;
	font-size: 0.6em;
}

#weaponsList2{
    position:absolute;
    top: 910px;
    left: 845px;
	font-size: 0.6em;
}

#weaponsList3{
    position:absolute;
    top: 910px;
    left: 900px;
	font-size: 0.6em;
}

#totalArmourClassMod{
    position:absolute;
    top: 835px;
    left: 850px;
	font-size: 0.8em;
}

#totalArmourWeight{
    position:absolute;
    top: 835px;
    left: 895px;
	font-size: 0.8em;
}


#totalWeaponWeight{
    position:absolute;
    top: 1038px;
    left: 895px;
	font-size: 0.8em;
}


#totalGearWeight{
    position:absolute;
    top: 708px;
    left: 895px;
	font-size: 0.8em;
}

#modifiedAc{
    position:absolute;
    top: 180px;
    left: 75px;
	font-size: 1.6em;
}

#weaponNotes{
    position:absolute;
    top: 1150px;
    left: 610px;
	font-size: 0.4em;
}


#gearList{
    position:absolute;
    top: 270px;
    left: 670px;
	font-size: 0.6em;
}

#gearList2{
    position:absolute;
    top: 270px;
    left: 900px;
	font-size: 0.6em;
}


#clothingList{
    position:absolute;
    top: 570px;
    left: 670px;
	font-size: 0.6em;
}

#clothingList2{
    position:absolute;
    top: 570px;
    left: 900px;
	font-size: 0.6em;
}

#totalWeightCarried{
    position:absolute;
    top: 1111px;
    left: 690px;
	font-size: 0.7em;
}

#wealth{
    position:absolute;
    top: 495px;
    left: 670px;
	font-size: 0.6em;
}

#coinWeight{
    position:absolute;
    top: 495px;
    left: 900px;
	font-size: 0.6em;
}

#turnMove{
    position:absolute;
    top: 1134px;
    left: 695px;
	font-size: 0.6em;
}


#encounterMove{
    position:absolute;
    top: 1112px;
    left: 840px;
	font-size: 0.6em;
}


#runningMove{
    position:absolute;
    top: 1134px;
    left: 840px;
	font-size: 0.6em;
}



#level{
    position:absolute;
    top: 78px;
    left: 350px;
	font-size: 0.8em;
}


#characterRaceTitle{
    position:absolute;
    top: 950px;
    left: 60px;
	font-size: 0.7em;
}


#characterRaceTrait{
    position:absolute;
    top: 970px;
    left: 60px;
	font-size: 0.6em;
}


